body {
  font-family: nexa;
  line-height: 1.6;
}
img {
  height: 90%;
  width: 100%;
}
.page-wrapper {
  margin: 20px;
  border: 3px solid #000;
  padding: 45px;
}
.header-section {
  margin: 0px;
  text-align: center;
}
.profile-stub,
.aboutme-header,
.background-header {
  margin-bottom: 5px;
  padding-top: 5px;
}
.profile-stub {
  background-color: #87a7b3;
}
.profile-stub h4 {
  font-size: 20px;
}
.profile-stub,
.profile-stub-details,
.aboutme-header,
.aboutme-details,
.background-header,
.background-details {
  margin-left: 14px;
  padding-left: 0px;
}
.profile-stub-details,
.aboutme-details,
.background-details {
  border-top: 1px solid #000;
  padding-top: 14px;
  padding-bottom: 14px;
}
.aboutme-header {
  background-color: #cdc7be;
}
.background-header{
  background-color: #e1f1dd;
}